.simple301redirects {
    padding-right: 20px;
    padding-top: 20px;
    @import "utilities/variable";
    @import "utilities/header";
    @import "utilities/form";

    .simple301redirects__managelinks{
        background: $white;
        padding: 40px;
        border: 1px solid $light-darken;
        box-shadow: 0 5px 5px rgba(#ebebeb, 0.05);
        border-radius: 5px;
        .simple301redirects__managelinks__info,
        .simple301redirects__managelinks__item{
            display: flex;
            &__inner{
                width: calc(100% - 320px);
                display: flex;
                @media screen and (max-width: 991.88px) {
                    width: calc(100% - 310px);
                }
                .simple301redirects__managelinks__info__request,
                .simple301redirects__managelinks__item__request{
                    width: calc(50% - 45px);
                    @media screen and (max-width: 1199.88px) {
                        width: calc(50% - 30px);
                    }
                    @media screen and (max-width: 991.88px) {
                        width: calc(50% - 10px);
                    }
                }
                .simple301redirects__managelinks__info__request{
                    margin-right: 90px;
                    @media screen and (max-width: 1199.88px) {
                        margin-right: 60px;
                    }
                    @media screen and (max-width: 991.88px) {
                        margin-right: 20px;
                    }
                }
                .simple301redirects__managelinks__item__icon{
                    width: 90px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 1199.88px) {
                        width: 60px;
                    }
                    @media screen and (max-width: 991.88px) {
                        width: 20px;
                        img{
                            display: none;
                        }
                    }
                }
                .simple301redirects__managelinks__info__destination,
                .simple301redirects__managelinks__item__destination{
                    width: calc(50% - 45px);
                    @media screen and (max-width: 1199.88px) {
                        width: calc(50% - 30px);
                    }
                    @media screen and (max-width: 991.88px) {
                        width: calc(50% - 10px);
                    }
                }
            }
        }
        .simple301redirects__managelinks__info{
            margin-bottom: 25px;
            .simple301redirects__managelinks__info__inner,
            .simple301redirects__managelinks__info__destination{
                h4{
                    font-size: 20px;
                    font-weight: 500;
                    color: $dark;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                p{
                    color: $secondary;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 1.5;
                }
            }
        }
        .simple301redirects__managelinks__item{
            margin-bottom: 25px;
            .simple301redirects__managelinks__item__control{
                display: flex;
                align-items: center;
                padding-left: 30px;
                @media screen and (max-width: 991.88px) {
                    padding-left: 20px;
                }
                .lock__button,
                button{
                    margin-right: 10px;
                }
                .simple301redirects__icon__button{
                    background: none;
                    border: none;
                    outline: none;
                    max-height: 30px;
                    max-width: 30px;
                    padding: 0;
                    display: flex;
                    cursor: pointer;
                    img{
                        height: 20px;
                        max-width: 100%;
                    }
                    &.delete__button{
                        img{
                            height: 17px;
                        }
                    }
                }
                .simple301redirects__button{
                    min-height: 36px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 20px;
                    border-radius: 5px;
                    background: $light;
                    border: 1px solid $light-darken;
                    color: $secondary;
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    outline: none;
                    box-sizing: border-box;
                    &.primary__button{
                        background: $blue;
                        border: 1px solid $blue;
                        color: $white;
                        &:hover{
                            background: darken($blue, 1%);
                            border-color: darken($blue, 1%);
                            box-shadow: 0 10px 10px rgba($blue-lighten, 0.15);
                        }
                    }
                    &.success__button{
                        background: #d1f3dd;
                        border: 1px solid $success;
                        color: $success;
                        &:hover{
                            background: darken($success, 1%);
                            border-color: darken($success, 1%);
                            color: $white;
                            box-shadow: 0 10px 10px rgba($success, 0.15);
                        }
                    }
                    &.lock__button{
                        background: transparent;
                        border: none;
                        box-shadow: 0 5px 15px rgba($dark, 0.15);
                        color: #0086c6;
                        img{
                            transform: translateX(-7px);
                        }
                        span{
                            filter: blur(0.5px);
                        }
                        &:hover{
                            background: $light;
                            border: none;
                            color: #0086c6;
                        }
                    }
                    &:hover{
                        background: $danger;
                        border-color: $danger;
                        color: $white;
                    }
                }
            }
        }
        .simple301redirects__wildcards{
            display: flex;
            align-items: center;
            input[type="checkbox"]{
                margin-top :0;
                margin-right: 10px;
            }
        }
        &.simple301redirects__managelinks--activated-btl{
            .simple301redirects__managelinks__info,
            .simple301redirects__managelinks__item{
                &__inner{
                    width: calc(100% - 210px);
                    @media screen and (max-width: 991.88px) {
                        width: calc(100% - 190px);
                    }
                }
            }
            .simple301redirects__wildcards{
                display: flex;
                align-items: center;
                input[type="checkbox"]{
                    margin-top :0;
                    margin-right: 10px;
                }
            }
        }
    }

    .simple301redirects__betterlinks{
        background: $white;
        padding: 30px;
        border: 1px solid $light-darken;
        box-shadow: 0 5px 5px rgba(#ebebeb, 0.05);
        border-radius: 0 5px 5px 0;
        display: flex;
        flex-direction: column;
        border-left: 3px solid $blue;
        margin-top: 20px;
        position: relative;
        .simple301redirects__betterlinks__close__button{
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            border: none;
            padding: 0;
            outline: none;
            background: none;
            cursor: pointer;
            img{
                width: 13px;
            }
        }
        .simple301redirects__betterlinks__icon{
            margin-right: 20px;
        }
        .simple301redirects__betterlinks__content{
            margin-bottom: 10px;
            h3{
                font-size: 20px;
                font-weight: 500;
                color: $dark;
                margin-top: 0;
                margin-bottom: 10px;
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                color: $secondary-darken;
                margin-top: 15px;
            }
            ul{
                li{
                    color: $secondary;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 1.5;
                    &:before{
                        content: "";
                        height: 7px;
                        width: 7px;
                        min-width: 7px;
                        background: $secondary-lighten;
                        border-radius: 10px;
                        display: inline-flex;
                        margin-right: 10px;
                    }
                }
            }
            p{
                color: $secondary;
                font-size: 16px;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 1.5;
            }
            a{
                color: $blue;
                text-decoration: none;
            }
            button{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 5px 25px;
                min-height: 36px;
                background :$blue;
                color: $white;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                outline: none;
                &:hover{
                    background: darken($blue, 1%);
                    box-shadow: 0 10px 10px rgba($blue-lighten, 0.2);
                }
            }
        }
        .simple301redirects__betterlinks__control{
            button{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 5px 25px;
                min-height: 36px;
                background :$blue;
                color: $white;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                outline: none;
                &:hover{
                    background: darken($blue, 1%);
                    box-shadow: 0 10px 10px rgba($blue-lighten, 0.2);
                }
            }
            h3{
                margin-top: 25px;
                font-size: 20px;
                font-weight: 500;
                color: $dark;
                margin-bottom: 0;
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                color: $secondary-darken;
            }
            p{
                color: $secondary;
                font-size: 16px;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 1.5;
            }
            a{
                color: $blue;
                text-decoration: none;
            }
        }
    }


    .simple301redirects__documentation{
        background: $white;
        padding: 20px;
        border: 1px solid $light-darken;
        box-shadow: 0 5px 5px rgba(#ebebeb, 0.05);
        border-radius: 5px;
        margin-top: 20px;
        .simple301redirects__documentation__panel-header{
            display: flex;
            align-items: center;
            h4{
                margin-top: 0;
                margin-bottom :0;
                margin-right: 20px;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                color: $dark;
                height: 26px;
                .dashicons{
                    font-size: 26px;
                    color: $secondary;
                    height: 26px;
                    margin-right: 10px;
                }
                img{
                    margin-right: 10px;
                }
            }
            button{
                margin-left: auto;
                background: none;
                border: none;
                cursor: pointer;
                outline: none;
            }
        }
        .simple301redirects__documentation__panel-body{
            .documentation{
                margin-top: 30px;
                padding-left: 15px;
                h4{
                    font-size: 18px;
                    font-weight: 500;
                    color: $dark;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                h5{
                    font-size: 17px;
                    font-weight: 600;
                    color: $secondary-darken;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                ul{
                    li{
                        color: $secondary;
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 0;
                        margin-bottom: 0;
                        line-height: 1.5;
                        &:before{
                            content: "";
                            height: 7px;
                            width: 7px;
                            min-width: 7px;
                            background: $secondary-lighten;
                            border-radius: 10px;
                            display: inline-flex;
                            margin-right: 10px;
                        }
                    }
                }
                p{
                    color: $secondary;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 1.5;
                }
                a{
                    color: $blue;
                    text-decoration: none;
                }
            }
        }
    }


    .s3r-tooltip {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        .s3r-tooltiptext-wrapper {
            visibility: hidden;
            padding-bottom: 10px;
            z-index: 1;
            width: 160px;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            .s3r-tooltiptext {
                background: $white;
                font-size: 14px;
                color: $secondary;
                text-align: center;
                border-radius: 6px;
                padding: 10px;
                text-transform: capitalize;
                box-shadow: 0 2px 10px rgba($dark, 0.15);
                display: flex;
                flex-direction: column;
                align-items: center;
                button{
                    margin-right: 0;
                    margin-top: 5px;
                    min-height: 18px;
                    font-size: 11px;
                    padding: 1px 8px;
                    outline: none;
                    border: none;
                    background: $blue;
                    color: $white;
                    border-radius: 3px;
                    display: flex;
                    text-transform: capitalize;
                    cursor: pointer;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: calc(100% - 10px);
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $white transparent transparent transparent;
                }
            }
        }
        &:hover .s3r-tooltiptext-wrapper {
            visibility: visible;
        }
    }
}