.simple301redirects {
	padding-right: 20px;
	padding-top: 20px;
	@import 'utilities/variable';
	@import 'utilities/header';
	@import 'utilities/form';

	.simple301redirects__managelinks {
		background: $white;
		padding: 30px 5px 30px 20px;
		border: 1px solid $light-darken;
		box-shadow: 0 5px 5px rgba(#ebebeb, 0.05);
		border-radius: 5px;
		.simple301redirects__managelinks__info,
		.simple301redirects__managelinks__item {
			display: flex;
			@media screen and (max-width: 767.98px) {
				flex-wrap: wrap;
			}
			&__inner {
				width: calc(100% - 310px);
				display: flex;
				align-items: center;
				@media screen and (max-width: 991.88px) {
					width: calc(100% - 305px);
				}
				@media screen and (max-width: 767.98px) {
					width: 100%;
				}
				.simple301redirects__managelinks__info__request,
				.simple301redirects__managelinks__item__request {
					width: calc(35% - 30px);
					@media screen and (max-width: 1199.88px) {
						width: calc(35% - 20px);
					}
					@media screen and (max-width: 991.88px) {
						width: calc(35% - 10px);
					}
				}
				.simple301redirects__managelinks__info__request {
					margin-right: 60px;
					@media screen and (max-width: 1199.88px) {
						margin-right: 40px;
					}
					@media screen and (max-width: 991.88px) {
						margin-right: 20px;
					}
				}
				.simple301redirects__managelinks__item__icon {
					width: 60px;
					height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					@media screen and (max-width: 1199.88px) {
						width: 40px;
						img {
							width: 20px;
						}
					}
					@media screen and (max-width: 991.88px) {
						width: 20px;
						img {
							display: none;
						}
					}
				}
				.simple301redirects__managelinks__info__destination,
				.simple301redirects__managelinks__item__destination {
					width: calc(65% - 30px);
					@media screen and (max-width: 1199.88px) {
						width: calc(65% - 20px);
					}
					@media screen and (max-width: 991.88px) {
						width: calc(65% - 10px);
					}
				}
			}
		}
		.simple301redirects__managelinks__info {
			margin-bottom: 25px;
			.simple301redirects__managelinks__info__inner,
			.simple301redirects__managelinks__info__destination {
				h4 {
					font-size: 20px;
					font-weight: 500;
					color: $dark;
					margin-top: 0;
					margin-bottom: 10px;
				}
				p {
					color: $secondary;
					font-size: 14px;
					font-weight: 400;
					margin-top: 0;
					margin-bottom: 0;
					line-height: 1.3;
				}
			}
		}
		.simple301redirects__managelinks__item {
			margin-bottom: 15px;
			@media screen and (max-width: 991.88px) {
				margin-bottom: 16px;
			}
			.simple301redirects__managelinks__item__control {
				display: flex;
				align-items: center;
				padding-left: 20px;
				@media screen and (max-width: 991.88px) {
					padding-left: 15px;
				}
				@media screen and (max-width: 767.98px) {
					padding-left: 0;
					padding-top: 9px;
				}
				.Simple301Redirects__loading-dock,
				.lock__button,
				> button {
					margin-right: 10px;
				}
				.simple301redirects__icon__button {
					background: none;
					border: none;
					outline: none;
					max-height: 30px;
					max-width: 30px;
					padding: 0;
					display: flex;
					cursor: pointer;
					img {
						height: 20px;
						max-width: 100%;
					}
					&.delete__button {
						img {
							height: 17px;
						}
					}
				}
				.simple301redirects__button {
					min-height: 36px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 8px 20px;
					border-radius: 40px;
					background: $light;
					border: 1px solid $light-darken;
					color: $secondary;
					font-size: 13px;
					font-weight: 500;
					text-transform: uppercase;
					cursor: pointer;
					transition: all 0.3s ease-in-out;
					outline: none;
					box-sizing: border-box;
					&.primary__button {
						background: $blue;
						border: 1px solid $blue;
						color: $white;
						&:hover {
							background: darken($blue, 1%);
							border-color: darken($blue, 1%);
							box-shadow: 0 10px 10px rgba($blue-lighten, 0.15);
						}
					}
					&.success__button {
						width: 92px;
						background: rgba(29, 214, 133, 0.05);
						border: 1px solid $success;
						color: $success;
						&:hover {
							background: darken($success, 1%);
							border-color: darken($success, 1%);
							color: $white;
							box-shadow: 0 10px 10px rgba($success, 0.15);
						}
					}
					&.lock__button {
						background: transparent;
						border: none;
						box-shadow: 0 5px 15px rgba($dark, 0.15);
						color: #0086c6;
						img {
							transform: translateX(-7px);
						}
						span {
							filter: blur(0.7px);
						}
						&:hover {
							background: $light;
							border: none;
							color: #0086c6;
						}
					}
					&:hover {
						background: $danger;
						border-color: $danger;
						color: $white;
					}
				}
			}
		}
		.simple301redirects__wildcards {
			display: flex;
			align-items: center;
			input[type='checkbox'] {
				margin-top: 0;
				margin-right: 10px;
			}
		}
		&.simple301redirects__managelinks--activated-btl {
			.simple301redirects__managelinks__info,
			.simple301redirects__managelinks__item {
				&__inner {
					width: calc(100% - 210px);
					@media screen and (max-width: 991.88px) {
						width: calc(100% - 190px);
					}
				}
			}
			.simple301redirects__wildcards {
				display: flex;
				align-items: center;
				input[type='checkbox'] {
					margin-top: 0;
					margin-right: 10px;
				}
			}
		}
	}

	.simple301redirects__betterlinks {
		background: $white;
		padding: 30px;
		border: 1px solid $light-darken;
		box-shadow: 0 5px 5px rgba(#ebebeb, 0.05);
		border-radius: 0 5px 5px 0;
		display: flex;
		flex-direction: column;
		border-left: 3px solid $blue;
		margin-top: 20px;
		position: relative;
		.simple301redirects__betterlinks__close__button {
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			border: none;
			padding: 0;
			outline: none;
			background: none;
			cursor: pointer;
			img {
				width: 13px;
			}
		}
		.simple301redirects__betterlinks__icon {
			margin-right: 20px;
		}
		.simple301redirects__betterlinks__content {
			margin-bottom: 10px;
			h3 {
				font-size: 20px;
				font-weight: 500;
				color: $dark;
				margin-top: 0;
				margin-bottom: 10px;
			}
			h4 {
				font-size: 18px;
				font-weight: 600;
				color: $secondary-darken;
				margin-top: 15px;
				line-height: 22px;
			}
			ul {
				li {
					color: $secondary;
					font-size: 16px;
					font-weight: 400;
					margin-top: 0;
					margin-bottom: 0;
					line-height: 1.5;
					&:before {
						content: '';
						height: 7px;
						width: 7px;
						min-width: 7px;
						background: $secondary-lighten;
						border-radius: 10px;
						display: inline-flex;
						margin-right: 10px;
					}
				}
			}
			p {
				color: $secondary;
				font-size: 16px;
				font-weight: 400;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 1.5;
			}
			a {
				color: $blue;
				text-decoration: none;
			}
			button {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				padding: 5px 25px;
				min-height: 36px;
				background: $blue;
				color: $white;
				border-radius: 4px;
				border: none;
				cursor: pointer;
				outline: none;
				&:hover {
					background: darken($blue, 1%);
					box-shadow: 0 10px 10px rgba($blue-lighten, 0.2);
				}
			}
		}
		.simple301redirects__betterlinks__control {
			button {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				padding: 5px 25px;
				min-height: 36px;
				background: $blue;
				color: $white;
				border-radius: 4px;
				border: none;
				cursor: pointer;
				outline: none;
				&:hover {
					background: darken($blue, 1%);
					box-shadow: 0 10px 10px rgba($blue-lighten, 0.2);
				}
			}
			h3 {
				margin-top: 25px;
				font-size: 20px;
				font-weight: 500;
				color: $dark;
				margin-bottom: 0;
			}
			h4 {
				font-size: 18px;
				font-weight: 600;
				color: $secondary-darken;
			}
			p {
				color: $secondary;
				font-size: 16px;
				font-weight: 400;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 1.5;
			}
			a {
				color: $blue;
				text-decoration: none;
			}
		}
	}

	.simple301redirects__documentation {
		background: $white;
		padding: 20px;
		border: 1px solid $light-darken;
		box-shadow: 0 5px 5px rgba(#ebebeb, 0.05);
		border-radius: 5px;
		margin-top: 20px;
		.simple301redirects__documentation__panel-header {
			display: flex;
			align-items: center;
			cursor: pointer;
			h4 {
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 20px;
				display: flex;
				align-items: center;
				font-size: 20px;
				font-weight: 500;
				color: $dark;
				height: 26px;
				@media screen and (max-width: 1439.98px) {
					font-size: 16px;
				}
				.dashicons {
					font-size: 26px;
					color: $secondary;
					height: 26px;
					margin-right: 10px;
				}
				img {
					margin-right: 10px;
					@media screen and (max-width: 1439.98px) {
						margin-right: 5px;
					}
				}
			}
			button {
				margin-left: auto;
				background: none;
				border: none;
				cursor: pointer;
				outline: none;
			}
		}
		.simple301redirects__documentation__panel-body {
			.documentation {
				margin-top: 30px;
				padding-left: 15px;
				h4 {
					font-size: 18px;
					font-weight: 500;
					color: $dark;
					margin-top: 0;
					margin-bottom: 10px;
				}
				h5 {
					font-size: 17px;
					font-weight: 600;
					color: $secondary-darken;
					margin-top: 15px;
					margin-bottom: 15px;
				}
				ul {
					li {
						color: $secondary;
						font-size: 16px;
						font-weight: 400;
						margin-top: 0;
						margin-bottom: 0;
						line-height: 1.5;
						&:before {
							content: '';
							height: 7px;
							width: 7px;
							min-width: 7px;
							background: $secondary-lighten;
							border-radius: 10px;
							display: inline-flex;
							margin-right: 10px;
						}
					}
				}
				p {
					color: $secondary;
					font-size: 16px;
					font-weight: 400;
					margin-top: 0;
					margin-bottom: 0;
					line-height: 1.5;
				}
				a {
					color: $blue;
					text-decoration: none;
				}
			}
		}
	}

	.simple301redirects__panel__divider {
		border-radius: 5px;
		background: $white;
		padding: 20px;
		border: 1px solid $light-darken;
		box-shadow: 0 5px 5px rgba(#ebebeb, 0.05);
		.simple301redirects__import {
			margin-bottom: 60px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: calc(100% + 29px);
				border-bottom: 2px solid $light-darken;
			}
		}
		.simple301redirects__import,
		.simple301redirects__export {
			.simple301redirects__import__head,
			.simple301redirects__export__head {
				h4 {
					font-size: 20px;
					font-weight: 500;
					color: $dark;
					margin-top: 0;
					margin-bottom: 10px;
					line-height: 1.1;
				}
				p {
					color: $secondary;
					font-size: 14px;
					margin-top: 0;
				}
			}
			.simple301redirects-button-group {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				input[type='file'] {
					cursor: pointer;
					outline: none;
				}
				input[type='submit'],
				button {
					background: $white;
					border: 1px solid $blue;
					color: $blue;
					min-height: 36px;
					padding: 8px 20px;
					line-height: 1;
					font-size: 15px;
					border-radius: 4px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					box-sizing: border-box;
					outline: none;
					cursor: pointer;
					&:focus,
					&:hover {
						background: darken($blue, 1%);
						border-color: darken($blue, 1%);
						color: $white;
						box-shadow: 0 10px 10px rgba($blue-lighten, 0.15);
						outline: none;
					}
				}
				p {
					font-size: 15px;
					color: #5a5a5a;
					margin-top: 10px;
					margin-bottom: 0;
				}
			}
		}
	}

	.s3r-tooltip {
		position: relative;
		display: inline-block;
		padding-bottom: 5px;
		.s3r-tooltiptext-wrapper {
			visibility: hidden;
			padding-bottom: 10px;
			z-index: 1;
			width: 160px;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			.s3r-tooltiptext {
				background: $white;
				font-size: 14px;
				color: $secondary;
				text-align: center;
				border-radius: 6px;
				padding: 10px;
				text-transform: capitalize;
				box-shadow: 0 2px 10px rgba($dark, 0.15);
				display: flex;
				flex-direction: column;
				align-items: center;
				button {
					margin-right: 0;
					margin-top: 5px;
					min-height: 18px;
					font-size: 11px;
					padding: 5px 8px;
					outline: none;
					border: none;
					background: $blue;
					color: $white;
					border-radius: 3px;
					display: flex;
					text-transform: capitalize;
					cursor: pointer;
				}
				&:after {
					content: '';
					position: absolute;
					top: calc(100% - 10px);
					left: 50%;
					margin-left: -5px;
					border-width: 5px;
					border-style: solid;
					border-color: $white transparent transparent transparent;
				}
			}
		}
		&:hover .s3r-tooltiptext-wrapper {
			visibility: visible;
		}
	}
	.Simple301Redirects__content__wrapper {
		display: flex;
		@media screen and (max-width: 1199.98px) {
			flex-wrap: wrap;
		}
		.Simple301Redirects__main__content {
			width: calc(100% - 380px);
			@media screen and (max-width: 1439.98px) {
				width: calc(100% - 270px);
			}
			@media screen and (max-width: 1199.98px) {
				width: 100%;
			}
		}
		.Simple301Redirects__archive__sidebar {
			width: 360px;
			margin-left: 20px;
			@media screen and (max-width: 1439.98px) {
				width: 250px;
			}
			@media screen and (max-width: 1199.98px) {
				width: 100%;
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}

	.Simple301Redirects__loading-dock {
		background-color: white;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 84px;
	}

	.Simple301Redirects__loading__button__submit {
		cursor: pointer;
		width: 84px;
		height: 36px;
		padding: 2px 5px;
		font-size: 13px;
		font-weight: 500;
		color: darken($success, 1%);
		background: rgba(29, 214, 133, 0.05);
		border-radius: 40px;
		border: 1px solid darken($success, 1%);
		transition: all 0.3s;
		text-transform: uppercase;
		&:hover {
			background: darken($success, 1%);
			color: white;
		}
		&:active {
			transform: scale(0.95);
		}

		&:focus {
			outline: none;
			background: darken($success, 1%);
			color: white;
		}

		&.Simple301Redirects__popout {
			animation: Simple301Redirects__circle-to-button 0.4s linear forwards;
		}
		&.Simple301Redirects__return {
			animation: Simple301Redirects__fade-to-original 0.3s linear;
			&:hover {
				background: darken($success, 1%);
				color: white;
			}
		}
	}

	.Simple301Redirects__loaded {
		.Simple301Redirects__loading__button__submit {
			background-color: darken($success, 1%);
			animation: Simple301Redirects__button-to-circle 0.25s linear forwards;
			animation-delay: 0s;
		}
		#Simple301Redirects__load {
			animation: Simple301Redirects__loading-circle 1s linear forwards;
			animation-delay: 0.4s;
		}
	}

	#Simple301Redirects__load,
	#Simple301Redirects__load-b {
		display: none;
		position: absolute;
		width: 40px;
		height: 40px;
		opacity: 0;
		.Simple301Redirects__loading-inner {
			stroke: {
				dasharray: 900;
				// Thickness of line
				width: 10;
				miterlimit: 10;
				linecap: round;
			}
			stroke: #c3c3c3;
			fill: transparent;
		}
	}
	#Simple301Redirects__load-b {
		opacity: 0;
		.Simple301Redirects__loading-inner {
			stroke: darken($success, 1%);
		}
	}

	svg {
		position: absolute;
		display: none;
	}

	@keyframes Simple301Redirects__loading-circle {
		0% {
			opacity: 1;
			stroke-dashoffset: 0;
		}
		50% {
			opacity: 1;
			stroke-dashoffset: -200;
		}
		100% {
			opacity: 1;
			stroke-dashoffset: -600;
		}
	}

	@keyframes Simple301Redirects__button-to-circle {
		0% {
			width: 84px;
			color: darken($success, 1%);
			border-color: darken($success, 1%);
			background-color: darken($success, 1%);
		}
		50% {
			color: rgba(255, 255, 255, 0);
		}
		90% {
			width: 36px;
			color: rgba(255, 255, 255, 0);
			border-color: #c3c3c3;
		}
		100% {
			width: 36px;
			border-color: rgba(255, 255, 255, 0);
			color: rgba(255, 255, 255, 0);
			background-color: rgba(255, 255, 255, 0);
		}
	}

	@keyframes Simple301Redirects__circle-to-button {
		0% {
			border-color: darken($success, 1%);
			background-color: darken($success, 1%);
			height: 36px;
			width: 36px;
		}
		50% {
			height: 36px;
			width: 36px;
		}
		100% {
			height: 36px;
			width: 84px;
			border-color: darken($success, 1%);
			background-color: darken($success, 1%);
		}
	}

	@keyframes Simple301Redirects__fade-to-original {
		0% {
			background-color: darken($success, 1%);
		}
		100% {
			background-color: white;
		}
	}
}
