
	input[type="text"] {
		height: 35px;
		border-radius: 5px;
		background: $light;
		padding: 10px;
		width: 100%;
		border: 1px solid $light-darken;
        font-size: 15px;
		&:focus {
            background: #fffaf8;
			border-color: #faccba;
			outline: none;
			box-shadow: none;
		}
		&.error {
			border-color: red;
		}
	}
	textarea {
		min-height: 35px;
		border-radius: 5px;
		background: $light;
		padding: 5px;
		width: 100%;
		border: 1px solid $light-darken;
        font-size: 15px;
		// margin-bottom: -2px;
		box-shadow: none;
		&:focus {
            background: #fffaf8;
			border-color: #faccba;
			outline: none;
			box-shadow: none;
		}
		&.error {
			border-color: red;
		}
	}