
$dark: #252525;
$light: #f7f8fa;
$light-darken: #ebebeb;
$black: #000;
$white: #fff;
$secondary: #707070;
$secondary-darken: #6e7178;
$secondary-lighten: #b0b2ba;
$blue: #003be2;
$blue-lighten: #2961ff;
$danger: #f97272;
$success: #00af5f;
$dark-mood-darken: #252f47;
